################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hey globe
/Project 1
/.vs
/Lab 2/.vs/Lab 2/v16
/Lab 03/.vs/Lab 03/v16
